.container{
    background-color: #FFEBCD;
    transition: 0.5s;
    font-family: 'Fasthand', cursive;;
    font-size: 20px;
    padding-left: 10px;
}
.container-left{
    margin-left: 230px;
}
/* menu 👇🏻 */
.left-panel{
    background-color: #e0caae;
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    /* z-index: -5; */
    transition: 0.5s;
}
.left-panel-close{
    left: -220px;
}
.btn-left{
    position: absolute;
    left: 85%;
    top: 5px;
    transition: 0.5s;
    background-color: black;
    color: aliceblue;
    border-radius: 20px 0 0 20px ;
    font-size: 1.2rem;
}
.btn-hrest::after{
    content: '\2720';
}
.btn-out{
    left: 100%;
    border-radius: 0 20px 20px 0 ;
}
.btn-out::after{
    content: '\2630';
}
.main-menu{
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
}
.main-menu li{
    margin: 10px 0;
    padding: 10px;
    transition: 0.3s;
    text-align: center;
    font-family: 'Lobster', cursive;;
}
.main-menu li:hover{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
